.followerCards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
    grid-column-gap: 12rem;
    grid-row-gap: 3rem;
    
    @media only screen and (max-width: $bp-small){
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
        grid-gap: 1rem;
        
    }
}
.followerCard{
    grid-template-columns: min-content 1fr max-content;
    grid-column-gap: 1rem;
    
    display: grid;
    align-items: center;

    
    @media only screen and (max-width: $bp-small){
        grid-template-columns: min-content 1fr max-content;
        
    }

    &__img,
    &__avtar{
        width: 6rem;
        height: 6rem;
        border-radius: 50%;

        grid-column:  1 / 2;
        grid-row: 1/2;

        @media only screen and (max-width:$bp-small){
            width: 3rem;
            height: 3rem;
        }
    }

    &__bg{
        &--1{
            background-color: $color-green;
        }
        &--2{
            background-color: $color-skyblue-light;
        }
        &--3{
            background-color: $color-red;
        }
        &--4{
            background-color: $color-skyblue-dark;
        }
    }
    &__heading{
        grid-row: 1/2;
        grid-column: 2/3;

        font-weight: 600;

        @media only screen and (max-width: $bp-small){
            font-size: $font-13;
        }
    }
    &__btn{
        grid-column: 3 / -1;
        grid-row: 1 / 1;
        padding: .5rem 1rem;
        border-radius: 2px;
        @media only screen and (max-width:$bp-small){
            padding: 2px 2px;
        }
    }
}