.details{
    grid-column: col-start 2/ col-end 4;

    @media only screen and (max-width: $bp-small){
        grid-column: full-start/full-end;
        padding: 0 1.5rem;
        margin: 2rem 0;
    }
}