.categories{
    grid-column: col-start 2 / center-end;
    
    margin-top: 2rem;
    grid-gap: 2rem;
    display: grid;
    
    @media only screen and (max-width: $bp-small){
        grid-column: center-start / center-end;
    }

    &__link-1{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(4rem,1fr));
        align-items: center;
        margin: 2rem 0;
        
        @media only screen and (max-width: $bp-small){
            grid-template-columns: repeat(auto-fit,minmax(6rem,1fr));
            grid-column-gap: 3rem;
            grid-row-gap: 1rem;
        }
        
    }
    &__link{
        text-transform: capitalize;

        &--btn{
            padding: 1rem 1.5rem;
            background-color: $color-black-4f;
            color: $color-white;
            border-radius: 4px;
            transform: translateY(-1rem);

            display: grid;
            align-self: center;
            
        }
    }
    &__box{
        background-color: $color-primary-a;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 2rem;
    }
    &__plus{
        display: grid;
        justify-self: end;
        align-self: center;
    }

}


.profile__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 2rem;
}
.card{

    &__skeleton{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        background: #88C0C6;
    }
    &__img{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
    }

    &__gap{
        display: grid;
        grid-gap: 2rem;
        height: auto;
        padding: 3rem;
        border-radius: 4px;
        font-weight: 600;
        background-color: $color-primary-a;
    }

    &__header{
        display: grid;
        grid-auto-flow: column;
        align-items: center;
    }

    &__tag{
        display: grid;
        grid-auto-flow: column;
        justify-self: start;
        grid-gap: 1rem;
    }
}