.signUp__Account{
    grid-column: col-start 4/ col-end 5;
    
    @media only screen and (max-width:$bp-small){
        grid-column: center-start/ center-end;
        
    }

    &__btn{
        width: 100%;

        background-color: $color-black-4f;
    }

    &__input{
        width: 100%;
        border: none;
        background-color: $color-primary-dark-1;
        padding: 1.5rem;
        border-radius: 2px;
    }


}