.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-sub-small {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-right-sub-small {
  margin-right: 0.5rem !important;
}

.u-margin-right-small {
  margin-right: 1rem !important;
}

.u-margin-right-medium {
  margin-right: 2rem !important;
}

.u-margin-left-sub-small {
  margin-left: 0.5rem !important;
}

.u-margin-left-small {
  margin-left: 1rem !important;
}

.u-margin-left-medium {
  margin-left: 2rem !important;
}

.u-margin-top-sub-small {
  margin-top: 1rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-hub {
  margin-top: 10rem !important;
}
